@import './variaveis';

@each $key, $cor in $colors{
    .text-#{$key}{
        color: $cor;
    }
}

@mixin btn($tamanho, $bg-color, $text-color){

    @if $tamanho == peq{
        font-size: 12px;
        padding: 8px 12px;
        border-radius: 8px;
    }@else if $tamanho == med{
        font-size: 18px;
        padding: 12px 16px;
        border-radius: 12px;
    }@else if $tamanho ==gde{
        font-size: 22px;
        padding: 16px 20px;
        border-radius: 16px;
    }
    background-color: $bg-color;
    color: $text-color;
}

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    background-color: lightgray;
    @extend %flex-center;
}

header{
    background-color: $bg-title-color;
    @extend %flex-center;
    
    @media screen and (max-width: 768px) {
        background-color: coral;
    }

    h1{
        color: $title-color;
        &:hover{
            color: orange;
        }
    }
    p{
        color:$title-color
    }
}

p{
    color: green;
}

button {
    @include btn(gde, yellow, brown)
}

@for $x from 1 through 5{
    .paragr-#{$x}{
        font-size: 8px*$x;
    }
}